/***classes***/
.fonte-contatos{
    font-size: 30px;
    color: gray;
}

.fonteh{
    font-size: 30px;
    text-align: center;
    color: gray;
}
.fonte-gmail{
    font-size: 30px;
    color: gray;
}

.aolk{
    font-size: 30px;
    color: gray;
    width: auto;
    height: auto;
 }